
body {
   
    background-image: url(https://image-processor-storage.s3.us-west-2.amazonaws.com/uploads/829d18d9c68199c1dff505daa6b6d1df/illustrationjpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

* {
    text-decoration: none;
}
/* Header Section */
header {
    padding: 10px;
    word-spacing: 20px;
}

.navbar {
    width: 98%;
    height: 50px;
    background: transparent;
    padding-left: 10px;
    padding-right: 20px;
}

.navbar a {
    background: transparent;
}

.logo img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navdiv {
    margin: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    color: white;
    font-size: 30px;
}
.logo a:hover {
    font-size: 31px;
    border: 4px solid rgb(232, 150, 62);
    border-radius: 15px;
    padding: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

li {
    display: inline-block;
    margin: 0 10px;
}

li a {
    color: white;
    font-weight: bolder;

}

li a:hover {
    color:rgb(232, 150, 62);
    zoom: 1.1;
    text-decoration: underline;
    
}

/* Main section */
main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    width: 95%;
    min-height: 500px; 
    margin:auto;
    background-color: transparent; 
    gap: 20px;
    
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 80%;

}

#img img {
    width: 350px;
    height: 400px;
    
}

/* #img img:hover {
    zoom: 1.1;
} */

#text {
    
    /* width:50%;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center; */

    width: 100%;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
        line-height: 1.6;
}

#text p {
    
    line-height: 1.6;
}
#text p::first-letter {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

aside {
    margin-top: 60px;
    width: 300px;
    height: 450px;
    background-color: rgba(237, 243, 243, 0.5);
    color:black;
    font-size: larger;
    padding: 10px;
    /* width:30%;
    height: fit-content; */


}
#course {
    width: 280px;
    height: 400px;
    background-color: rgba(237, 243, 243, 0.5);
    color:black;
    font-size: larger;
    margin: 15px 10px 10px 2px;
    padding: 8px;
}

#course ul li{
    color: black;
}

#course ul li:hover {
    
    width: max-content;
    height: 95%;
    background-color: rgba(237, 243, 243, 0.8);
    text-decoration: underline;
    padding: 10px;

}

#course option {
    padding: 10px;
}

/* Feedback Section */
.feedback {
    width: auto;
    background-color: rgba(211, 211, 211, 0.8);
    margin: 20px;
    padding: 20px;
}


.feedback label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.feedback input,
.feedback textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.feedback textarea {
    margin-left: auto;
    width: 90%;
    resize: vertical;
}

.feedback textarea:focus,.feedback input:focus {
    outline: none;
    border: 2px solid rgb(232, 150, 62);
    resize: vertical;
}

.feedback button{
    
    border:2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
}

.feedback button:hover {
    background-color: #45a049; 
}
.feedback button[type="reset"]:hover {
    background-color: red; 
}
.feedback .btn {
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* Footer Section */

footer {
    width: auto;
    height: 100px;
    background-color: antiquewhite;
    margin: 20px 10px 10px 10px;
    padding: 20px;
    text-align: center;
}
footer h1 {
    margin: 0px 10px 40px 10px;
    text-decoration: underline;
    
}
footer a:hover {
    zoom: 1.1;
    text-decoration: underline;
}
.contacts{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: larger;
}
.contacts #facebook i{
    color: rgba(24,119,242);
}
.contacts #instagram i{
    color:#E1306C
}
.contacts #linkedin i{
    color: #0077B5;
}

/* link top and bottom using anchor tag */

header+center a{
 opacity: 0.5;
}

header+center a:hover {
 opacity: 1;
}
div+center a{
 opacity: 0.5;
}
div+center a:hover {
 opacity: 1;
}
    
